.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.signing {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: flex;
	justify-content: center;
	color: #282c34;
}

.App-link {
  color: #61dafb;
}

body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		}
		.user_card {
			height: 430px;
			width: 350px;
			margin-top: 100px;
			margin-bottom: auto;
			background: #2dad14;
			position: relative;
			display: flex;
      align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 60%;
			background: #282c34 !important;
			color: white !important;
			transition: 0.4s;
		}
		.login_btn:hover {
			background: #60a3bc;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #282c34 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
			margin-top: 6px;
			height: 35px;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #282c34 !important;
		}

.nav-link a:hover,
.nav-link a:active, 
.nav-link a.active
{
  color: black;
}

#navl {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: 0.4s;
}

#navl:hover {
  color: green;
  /* font-size: 19px; */
}

.home-logo {
  color: #FFF;
  transition: 0.4s;
}

.home-logo:hover {
  color: green;
}

.nav-link {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.navbar {
  background-color: #282c34;
  display: flex;
} 
